- if (!session)
  h1= title
  h2 Create New User
  br
  br
  form(method = 'post', action = '/login')
    span email :
      input(type = 'text', name = 'email', id = 'email')
      span password :
      input(type = 'password', name = 'password', id = 'password')
    input(type = 'submit', value = 'Send')
- if (session)
  div#admin
    ul
      li 
        a(href='#edit') edit this page
div#console
  div#menu
    img#subject(src='../../'+person.facts.portrait)
    =person.facts.fname+' '+person.facts.lname
    div#menu 
      ul.picker Testimonials
      ul.picker Profile
        li#bio Bio
        li#work Work
        li#learning Learning
        li#contact Contact
      ul.picker Projects
        - if (stuff.projects)
          -each p in stuff.projects
            li(id=p)= p
      ul.picker Portfolio
        - if (stuff.articles)
          -each a in stuff.articles
            li(id=a)= a
  div#content  
    - if (blurbs.length)
      - each a in blurbs
        li= a.title

form#recommend(action='/profile/id/' + person._id, method='post')
  input(type='text', name='title', value='optional title')
  textarea(name='quote') text goes here
  input(type='submit', value='submit')
  
script(type='text/javascript', src='../../js/omegawd.js')