#page
  h1.editable= title
  p Welcome to #{title}
  ul
    li Name
    li Address
    li Description
    li Architect/Builder
    li Neighborhood
    li List Price
    li Contact
    li Zoning
    li Taxes
    li Year Built
    li Floor Plane
    li Pictures (General)
    li Rooms/Sections
  form(id="MyForm", action="http://api2.transloadit.com/assemblies", enctype="multipart/form-data", method="POST")
    input(type="hidden", name="_id", value= doc._id)
    input(type="hidden", name="params", value= escape(JSON.stringify(tranny)))
    input(type="file", name="my_file")
    input(type="submit", value="Upload")
 
script(type='text/javascript')
  $(document).ready(function(){
  $('.editable').aloha();
  var pbj = {"x":1000,"y":100};
  GENTICS.Aloha.FloatingMenu.pinned = false;
  GENTICS.Aloha.FloatingMenu.floatTo(pbj);
  $('#MyForm').transloadit({
      wait: true,
      autoSubmit: false,
      fields: '#_id'
    });
  });