!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')   
    script(type='text/javascript', src='/aloha/aloha.js')
    script(type="text/javascript", src="http://assets.transloadit.com/js/jquery.transloadit2.js")
    script(type='text/javascript', src='/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js')
    script(type='text/javascript', src='/aloha/plugins/com.gentics.aloha.plugins.Link/plugin.js')
    script(type='text/javascript', src='/aloha/plugins/com.gentics.aloha.plugins.List/plugin.js')
    script(type='text/javascript', src='/aloha/plugins/com.gentics.aloha.plugins.TOC/plugin.js')
  body!= body