!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')   
    script(type="text/javascript", src='http://assets.transloadit.com/js/jquery.transloadit2.js')
  body!= body